header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: beige;
  align-items: center;
  border-radius: 10 10 0 0;
  box-shadow: 0px 10px 10px -6px rgba(56, 56, 56, 0.7);
}

.title {
  margin-right: auto;
  margin-left: 20px;
  font-size: 40px;
}
