.taskarea {
  width: 30%;
  height: auto;
  margin: 50px 0px;
  border-radius: 10;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.todoArea {
  margin-top: 0;
  border-radius: 10 10 0 0;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  background-color: #89c8ff;
  box-shadow: 0px 8px 8px -6px rgba(56, 56, 56, 0.7);
}

.progressArea {
  margin-top: 0;
  border-radius: 10 10 0 0;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  background-color: #a4ffac;
  box-shadow: 0px 8px 8px -6px rgba(56, 56, 56, 0.7);
}

.completedArea {
  margin-top: 0;
  border-radius: 10 10 0 0;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  background-color: #ffb189;
  box-shadow: 0px 8px 8px -6px rgba(56, 56, 56, 0.7);
}

.addTaskButton {
  margin: 15px 12px 15px 12px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #8f8f8f;
  background: none;
  cursor: pointer;
}

.addTaskButton:hover {
  color: #3d3d3d;
}

.addTaskButton:active {
  transform: scale(0.95);
  opacity: 0.7;
}
